html, body {
  height: 100%;
}
#app {
  height: 100%;
}
.bg {
    /* The image used */
    background-image: url("../homeimages/1516.jpg");

    /* Full height */
    height: 100%;

    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -22px;
    margin-bottom: 0px;
}
.nav-no-margin {
  margin-bottom: 0;
}
.text {
  color: #ffffff;
  text-align: center;
  padding-top: 250px;
  font-family:sans-serif;
  text-decoration:underline;

}
